div.container {
    width: 100%;
}

header, footer {
	padding: 0.1em;
    clear: left;
}

header {
	border-bottom: 1px solid grey;
}

footer {
	text-align: center;
	border-top: 1px solid grey;
}

nav {
    float: left;
	max-width: 300px;
	min-width: 200px;
    margin: 0;
	padding: 1em;
	border-right: 2px solid grey;
}

nav ul {
    list-style-type: none;
	padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
	flex: 1;
	overflow: auto;
    margin-left: 10px;
    padding: 1em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 400px;
}